.slider{
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  //background: red; /* For browsers that do not support gradients */
  //background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-rainbow{
    background: linear-gradient(to right, red , orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
}

.slider-saturation{
    background: linear-gradient(to right, black, white)
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    border-radius: 10%;
    background: white;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 10px;
    border-radius: 10%;
    background: white;
    cursor: pointer;
}